.form{
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.main_input{
    border: solid 1px #939393;
    border-radius: 0.5vw;
    width: 40vw;
    height: 3vh;
}
.main_texarea{
    border: solid 1px #939393;
    border-radius: 0.5vw;
    width: 50vw;
    height: 20vh;
    resize: none;
    font-size: 1.3rem;
    padding: 1vw;
}

.submit_buttom{
    position: absolute;
    top: 38vh;
}

h3{
    font-size: 2rem;
    color: #2959a0;
}
