*{
    flex-wrap: nowrap;
}

.form{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-items: center;
    width: 90%;

    gap: 10px;
}
h3{
    display: inline;
    font-size: 1.7rem;
    color: #2959a0;
    text-align: center;
}
h4{
    font-size: 1.4rem;
}
.formHeader{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}
