* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #5f5f5f;
}

body {
    /* 
        vh e vw são bons para definir o tamanho de um componente 
        principalmente em telas responsívas
        Mas regras de porcentagem também funcionam (Pesquisar como preencher um componete do tamanho da tela com porcentagem pra estudos)
    */
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#0099ffcb, #7dcbff93);
    position: relative;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

li,
p,
h3 {
    display: inline;
}

/**/
footer,
.conteinerContent {
    display: flex;
}

.conteinerContent {
    flex-direction: column;
    border: solid 1px #939393;
    height: 85vh;
    width: 80vw;

    position: absolute;
    translate: -50%;
    top: 5vh;
    left: 50%;
    /*Pesquisar melhor sobre o linear-gradient() para poder brincar com mais coisas*/

    background:
        linear-gradient(-66deg, transparent 50%, #ffffff4d 65%, transparent 80%),
        linear-gradient(-66deg, transparent 20%, #ffffff4d 35%, transparent 50%),
        linear-gradient(#d8ffff28) #d8ffff25;
    border-radius: 1%;
    box-shadow: 0px 4px 10px 4px #00000075;
}

/**/
header h1 {
    display: inline;
    flex: 1 1 0;
    align-self: center;
}

header {
    display: flex;
    flex: 1 1 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

.Navegacao {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.Navegacao ul {
    gap: 2%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    position: relative;

}

a {
    text-decoration: none;
}

header h1 {
    color: #fff;
}

/**/
.returnButton {
    flex: 1 1 0;
    box-shadow: 2px 1px 5px #00000075;
    border-radius: 10%;
    border: 1px solid #939393;
    background:
        linear-gradient(0deg, #8f261f 0%, transparent 20%),
        linear-gradient(0deg, transparent 70%, #ff5347 100%), 
        linear-gradient(#db453a 43%, #a83d35 63%);
    padding: 0.3vh 1.5vw;
    text-align: center;
    font-weight: 500;

    transition: padding 0.1s ease-in;
}

.returnButton:hover {
    cursor: pointer;
    padding: 0.3vh 1.7vw;
    background:
        linear-gradient(#ff4538 43%, #b8352c 63%);
}

.returnButton a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;

}

.returnButton:active {
    background: linear-gradient(#fa2414 43%, #9e140a 63%);
}

.returnButton a:active {
    color: #000000 !important;
}

.returnButton:has(span:not([value="X"])) {
    background: 
        linear-gradient(0deg, #2b528d 0%, transparent 20%),
        linear-gradient(0deg, transparent 70%, #3b87fa 100%), 
        linear-gradient(#3a7adb 43%, #426cac 63%);
}

.returnButton:has(span:not([value="X"])):hover {
    background: linear-gradient(#287af5 43%, #2257a5 63%);
}

.returnButton:has(span:not([value="X"])):active {
    background: linear-gradient(#1a72f7 43%, #0c408d 63%);
}

/**/



/**/
footer {
    box-shadow: 0px -2px 5px #00000075;
    border-top: solid 1px #939393;
    background:
        linear-gradient(-90deg, transparent 10%, #1b739980 35%, transparent 80%),
        #24aae480;

    flex-direction: row;
    justify-content: baseline;

    position: absolute;
    width: 100%;
    height: 12vh;
    overflow: hidden;
    left: 0;
    top: 88vh;
}

.Icon_page {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #939393;
    border-right: solid 1px #939393;

}

.Icon_page div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(70% - 5vw);
    height: calc(90%);
    border-radius: 50%;
    transition: all 0.1s ease-in;
}

.Icon_page div:hover {
    width: calc(73% - 5vw);
    height: calc(95%);
}

.Icon_page img {
    width: 100%;
    height: 100%;
}

/**/

.Abas_Site {
    flex: 4 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abasSiteBotao {
    font-style: none;
    flex: 1 1 0;
    box-shadow: 4px 4px 10px #47474775, -4px -4px 10px #47474775;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2.5vh 5.6vw;
    border-radius: 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0 1vw;

    background:
        linear-gradient(0deg, transparent 30%, #348fa3 50%, transparent 90%),
        linear-gradient(0deg, #e9e9e94d 0%, transparent 20%),
        linear-gradient(0deg, transparent 80%, #e9e9e94d 100%),
        linear-gradient(#5ed5f0 43%, #40a8c0 63%);

    transition: padding 0.1s ease-in;
}

.abasSiteBotao span {
    font-weight: 300;
    color: #FFF;
}

.abasSiteBotao:hover {
    font-size: 1.6rem;
    cursor: pointer;
    padding: 2.8vh 6.2vw;

    background:
        linear-gradient(0deg, transparent 30%, #4dacc2 50%, transparent 90%),
        linear-gradient(0deg, #f3f3f34d 0%, transparent 20%),
        linear-gradient(0deg, transparent 80%, #f3f3f34d 100%),
        linear-gradient(#74dbf5 43%, #4bb7cf 63%);

}