<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/main.css">
    <link rel="stylesheet" href="./../style/main_contact.css">
</head>

<body>
    <div class="conteinerContent">
        <header>
            <h1>Site do Vini Blau Blau</h1>
            <div class="Navegacao">
                <ul>
                    <li class="returnButton">
                        <span><a href="">_</a></span>
                    </li>
                    <li class="returnButton">
                        <span><a href="">[]</a></span>
                    </li>
                    <li class="returnButton">
                        <span value="X"><a href="">X</a></span>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main">
            <div id="cabecalho_main" class="main_header">
                <div id="content_Header">
                    <h2>Bora fazer um Bench?</h2>
                    <h3>Aqui estão os sites onde me encontro:</h3>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
            <div class="main_content">
                <form action="post" class="form">
                <h3>Mande para mim um email do que achou do site!</h3>
                    <label for="nome">Nome: </label><input id="nome" type="text" name="nome" class="main_input">
                    <label for="email">Email: </label><input id="email" type="text" name="email" class="main_input">
                    <label for="comment">Comente aqui:</label>
                    <textarea name="comment" id="comment" placeholder="Digite aqui!" class="main_texarea"></textarea>
                    <button class="submit_buttom">Enviar</button>
                </form>
            </div>
        </main>
    </div>

    <footer>
        <div class="Icon_page">
            <div><img src="./../img/Template.png" alt="icone"></div>
        </div>
        <ul class="Abas_Site">
            <a href="./../index.html">
                <li class="abasSiteBotao">
                    <span>Home</span>
                </li>
            </a>
            <a href="./projects.html">
                <li class="abasSiteBotao">
                    <span>Projects</span>
                </li>
            </a>
            <a href="">
                <li class="abasSiteBotao">
                    <span>Others</span>
                </li>
            </a>
        </ul>
        <div class="Icon_page">
        </div>
    </footer>
</body>

</html>